
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" style="color: red; background-color: yellow;"><h1>Angular CRUD Application</h1></a>
    <form class="form-inline">

    </form>
  </nav>

<div class="page-area">
    <h2 class="text-center">Manage Users</h2>
    <div class="container border-top pt-5">
        <div class="row">
            <div class="col-md-6"></div>
            <h2><u>Add Users:</u></h2>

<form #userForm="ngForm" (ngSubmit)="onAddUser(userForm.value)">
    <div class="form-group">
        <label><h2>User Name</h2></label>
        <input type="text" class="form-control" autocomplete="off"
        name="name" ngModel>

    </div>

    <div class="form-group">
        <label><h2>Technology Use</h2></label>
        <input type="text" class="form-control" autocomplete="off"
        name="technology" ngModel>

    </div>
    <br>

    
    <button type="submit" class="btn btn-primary mr-2">Add User</button> &nbsp;&nbsp;

    <button type="button" class="btn btn-warning"> Fetch User</button>
    <br>
</form>
<div class="col-md-6">
<h2>Users Info</h2>
<table class="table" style="width: 30cm;">
<thead class="thead-dark">
<tr>
    <th scope="col"><b><h3>Name</h3></b></th> 
    <th scope="col"><b><h3>Technology</h3></b></th>
    <th scope="col" class="text-center"><h3>Edit</h3></th>
    <th scope="col" class="text-center"><h3>Delete</h3></th>
</tr>
</thead>
  <tbody *ngFor="let user of users">
    <tr>
        <td>{{user.name}}</td> 
        <td>{{user.technology}}</td>
        <td class="text-center"><a class="text-danger"><i class="fa fa-pencil" aria-hidden="true"><button type="Edit" class="btn btn-success" >Edit</button></i></a></td>
        <td class="text-center"><a class="text-danger"><i class="fa fa-trash" aria-hidden="true"><button type="Edit" class="btn btn-danger" >Delete</button></i></a></td>
    </tr>

  </tbody>  
</table>

</div>

</div>
