<p>product works!</p>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img src="../../assets/images/laptop.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Inspiron 16 Laptop:-10% cashback up to ₹5,000 on Citi cards | ₹3,000 UPI instant discount | No Cost EMI | 14 days returns & replacement*.
              </p>
              <a routerLink="laptop" class="btn btn-primary">More Details</a>
              </div>
              </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/images/washingmachine.jpg" alt="Card image cap" >
          <div class="card-body">
            <h5 class="card-title">washingmachine</h5>
            <p class="card-text">10% cashback up to ₹5,000 on Citi cards | ₹3,000 UPI instant discount | No Cost EMI | 14 days returns & replacement*.
            </p>
            <a routerLink="washingmachine" class="btn btn-primary">More Details</a>
          </div>
      </div>

        <div class="card">
            <img class="card-img-top" src="../../assets/images/tablet.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Tablet</h5>
              <p class="card-text">10% cashback up to ₹5,000 on Citi cards | ₹3,000 UPI instant discount | No Cost EMI | 14 days returns & replacement*.</p>
              <a routerLink="tv" class="btn btn-primary">More Details</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="../../assets/images/tv.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <p class="card-text">10% cashback up to ₹5,000 on Citi cards | ₹3,000 UPI instant discount | No Cost EMI | 14 days returns & replacement*.
              </p>
              <a routerLink="tablet" class="btn btn-primary">More Details</a>
            </div>
        </div>

    </div>
      <router-outlet></router-outlet> 